<html>
<head>
    <title>터치다운 CMS</title>
    <link rel="stylesheet" href="http://cms.touch-down.co.kr/html/css/admin.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://cms.touch-down.co.kr/html/css/uploadify.css" />
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery.uploadify.js"></script>
    <link rel="stylesheet" href="http://cms.touch-down.co.kr/html/css/admin.css" type="text/css" />
    <script src="http://cms.touch-down.co.kr/html/js/placeholders.min.js"></script>

    <link rel="stylesheet" href="http://cms.touch-down.co.kr/html/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery.fancybox.pack.js?v=2.1.5"></script>

    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery-validation-1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery-validation-1.15.0/additional-methods.min.js"></script>
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery-validation-1.15.0/messages_ko.min.js"></script>

    <!--script src="http://cms.touch-down.co.kr/html/js/plugins/moment/moment.js"></script-->

    <link rel="stylesheet" href="http://cms.touch-down.co.kr/html/css/jquery-ui.min.css" type="text/css" media="screen" />
    <script src="http://cms.touch-down.co.kr/html/js/jquery-ui.min.js"></script>

    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>

    <SCRIPT LANGUAGE="JavaScript">
        <!--
        function DeleteImage(idx) {

            var $img = $("#imgview"+idx);
            var $del = $("#imgdel"+idx);
            var val = $.trim($img.attr("data-item"));
            var uri = "http://cms.touch-down.co.kr/srv/upfile/api/delete?path="+encodeURIComponent(val);
            var attaches =  $("input[name='attaches.path']");
            //console.log(uri);
            $.get(uri,function (result) {

                console.log(result);

                if(result.err == 0)
                {
                    var $input = $(attaches[idx-1]);
                    $input.val("");
                    $img.attr("src","http://cms.touch-down.co.kr/html/img/thumb00.png");
                    $del.remove();
                }
                else
                {
                    alert('삭제실패했습니다.' + result.err);
                }
            });
        }

        var InitFunc = function(instance) {

            var index = instance.settings.index;
            var attaches =  $("input[name='attaches.path']");
            var $input = $(attaches[index-1]);//$("#img"+index);
            var val = $input.val();

            if(val.length > 10)
            {
                reloadThumbnail(index, val);
            }
        };

        var ErrorFunc = function(a, b, c, d) {
            if (d.status == 404)
                alert('업로드 서버를 찾을 수 없습니다.');
            else if (d.type === "HTTP")
                alert('인터넷 통신이 원할하지 않아 업로드가 진행되지 않습니다.');
            else if (d.type ==="File Size")
                alert('업로드 파일은 4MB를 넘을 수 없습니다.\n※ 현재 파일의 크기: '+Math.round(d.sizeLimit/1024)+'KB');
            else
                alert('예기치 못한 오류가 발생되었습니다.[에러코드 : '+d.type+": "+d.text+"]");
        };

        var SuccessFunc =  function(file, data, response) {
            var json = JSON.parse(data);
            //{"path":"/upload/2016/03/03/56d7c9710228744d0f557f04.JPG"}
            if (response)
            {
                var val = json.path;
                var index = this.settings.index;
                var attaches =  $("input[name='attaches.path']");
                var $input = $(attaches[index-1]);//$("#img"+index);
                $input.val(val);
                reloadThumbnail(index, val);
            }
        };

        function initFileUpload(idx)
        {
            var $thumb = $("#thumbnail" + idx);
            $thumb.uploadify({
                'buttonImage' : 'http://cms.touch-down.co.kr/html/img/file00.png',
                'buttonClass' : 'uploadbtn',
                'width': '80',
                'height': '23',
                'wmode': 'transparent',
                'swf'			: 'http://cms.touch-down.co.kr/html/swf/uploadify.swf',
                'uploader'		: 'http://cms.touch-down.co.kr/srv/upfile/api/save',
                'fileTypeDesc'  : '이미지를 등록하세요.',
                'fileTypeExts'  : '*.gif; *.jpg; *.png',
                'multi'         : false,
                'itemTemplate'	: '<div style="display:none"></div>',
                'index'   : idx,

                onInit: InitFunc,
                onError: ErrorFunc,
                onUploadSuccess	: SuccessFunc
            });
        }

        function reloadThumbnail(index, val)
        {
            var url = "http://cms.touch-down.co.kr/html" + val;
            var html = "<a id='imgdel"+ index +"' class='close' href='javascript:DeleteImage("+ index +");'><img src='http://cms.touch-down.co.kr/html/img/layer_top_btn_close.png' /></a>";
            $("#thumbnail"+index).before(html);
            $("#imgview"+index).attr("src",url);
            $("#imgview"+index).attr("data-item",val);
            $("#imgpopup"+index).attr("href",url);
        }

        //전역변수선언
        var editor_object = [];

        $(function(){

            nhn.husky.EZCreator.createInIFrame({
                oAppRef: editor_object,
                elPlaceHolder: "content",
                sSkinURI: "http://cms.touch-down.co.kr/html/smarteditor/SmartEditor2Skin.html",
                htParams : {
                    // 툴바 사용 여부 (true:사용/ false:사용하지 않음)
                    bUseToolbar : true,
                    // 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
                    bUseVerticalResizer : true,
                    // 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
                    bUseModeChanger : true,
                }
            });

            $(".fancybox").fancybox();
            $( "#stdate" ).datepicker();
            $( "#eddate" ).datepicker();

            initFileUpload(1);
            initFileUpload(2);
            initFileUpload(3);

            $("#mainForm").validate({
                rules: {
                    title: {
                        required:true,
                        minlength:10
                    },
                    advertisernm: {
                        required:true
                    },
                    representativenm: {
                        required:true
                    },
                    url: {
                        required: true,
                        url:true
                    },
                    stdate: {
                        required: true
                    },
                    eddate: {
                        required: true
                    },
                    "attaches.path": {
                        required: true
                    },
                    /*img1: {
                        required: true
                    },
                    img2: {
                        required: true
                    },
                    img3: {
                        required: true
                    },*/
                    saving: {
                        required: true,
                        digits: true,
                        minlength: 3
                    },
                    clkcnt: {
                        required: true,
                        number: true
                    },
                    advcnt: {
                        required: true,
                        number: true
                    },
                    usecnt: {
                        required: true,
                        number: true
                    },
                    budget: {
                        required: true,
                        number: true
                    },
                    adprice: {
                        required: true,
                        number: true
                    },
                    ctprice: {
                        required: true,
                        number: true
                    },
                    excode: {
                        required: true,
                        minlength: 10
                    },
                    stage: {
                        required: true,
                        number: true,
                        min: 0,
                        max: 99
                    },
                    edage: {
                        required: true,
                        number: true,
                        min: 0,
                        max: 99
                    }
                },
                messages: {
                    title: {
                        required:"제목을 입력하세요.",
                        minlength:"제목을 10자 이상 입력하세요."
                    },
                    advertisernm: {
                        required:"광고주를 선택하세요."
                    },
                    representativenm: {
                        required:"랩사를 선택하세요."
                    },
                    url: {
                        required: "랜딩주소를 입력하세요.",
                        url: "웹주소 형식이 아닙니다."
                    },
                    stdate: {
                        required: "광고시작일을 선택하세요."
                    },
                    eddate: {
                        required: "광고종료일을 선택하세요."
                    },
                    "attaches.path": {
                        required: "이미지를 입력하세요."
                    },
                    /*img1: {
                        required: "썸네일을 입력하세요."
                    },
                    img2: {
                        required: "안드로이드 이미지를 입력하세요."
                    },
                    img3: {
                        required: "IOS 이미지를 입력하세요."
                    },*/
                    saving: {
                        required: "적립금액을 입력하세요.",
                        digits: "숫자형식이여야 합니다.",
                        minlength: "100원 이상의 값을 입력하세요."
                    },
                    clkcnt: {
                        required: "조회수를 입력하세요.",
                        number: "숫자형식이여야 합니다."
                    },
                    advcnt: {
                        required: "광고수량을 입력하세요.",
                        number: "숫자형식이여야 합니다."
                    },
                    usecnt: {
                        required: "사용수량을 입력하세요.",
                        number: "숫자형식이여야 합니다."
                    },
                    budget: {
                        required: "광고예산을 입력하세요.",
                        number: "숫자형식이여야 합니다."
                    },
                    adprice: {
                        required: "광고단가를 입력하세요",
                        number: "숫자형식이여야 합니다."
                    },
                    ctprice: {
                        required: "고객단가를 입력하세요",
                        number: "숫자형식이여야 합니다."
                    },
                    excode: {
                        required: "관리코드를 입력하세요",
                        minlength: "10자 이상의 값을 입력하세요."
                    },
                    stage: {
                        required: "연령을 입력하세요",
                        number: "숫자형식이여야 합니다.",
                        min: "0보다 큰숫자를 입력하세요",
                        max: "99보다 작은숫자를 입력하세요"
                    },
                    edage: {
                        required: "연령을 입력하세요",
                        number: "숫자형식이여야 합니다.",
                        min: "0보다 큰숫자를 입력하세요",
                        max: "99보다 작은숫자를 입력하세요"
                    }
                },
                errorPlacement: function(error, element) {
                    // do nothing
                },
                invalidHandler: function(form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        alert(validator.errorList[0].message);
                        validator.errorList[0].element.focus();
                    }
                }
            });
        });

        //-->
    </SCRIPT>
    <script type = "text/javascript">

        function formSubmit(){
            //return document.mainForm.submit();
            if (!$("#mainForm").validate()) {
                return false;
            } else {
                editor_object.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);
                $("#mainForm").submit();
            }
        }

        function openAdvertiser(){
            window.open("/srv/advertiser/list_popup/0/1/","","width=500,height=500");
        }

        function openRepresentative(){
            window.open("/srv/representative/list_popup/0/1/","","width=500,height=500");
        }

        function ReceiveAdvertiser(json)
        {
            $("#advertisernm").val(json.name);
            $("#advertiserid").val(json.id);
        }

        function ReceiveRepresentative(json)
        {
            $("#representativenm").val(json.name);
            $("#representativeid").val(json.id);
        }

        function ToggleCheck(name)
        {
            var $checkboxs = $("input:checkbox[id='"+ name +"']");
            $checkboxs.prop("checked", !$checkboxs.is(":checked"));
        }

        function formDelete(uri){

            if(confirm("정말 삭제하시겠습니까?"))
            {
                location.href = uri;
            }
        }
    </script>
</head>
</head>
<body>
<div id="wrap">
    <%- partial('../common/menu.ejs') %>
    <!-- 본문 시작 -->
    <div id="container" class="af_clear">
        <!-- 왼쪽 메뉴 시작 -->
        <%- partial('../common/leftmenu.ejs') %>
        <!-- 왼쪽 메뉴 끝 -->
        <!-- 오른쪽 컨텐츠 시작 -->
        <div class="right-area">
            <form method="POST" action="/srv/<%=objname%>/update" name = "mainForm"  id="mainForm">
                <h3>광고 등록</h3>
                <div class="btn-write">
                    <a href="javascript:formSubmit();" class="btn-blue">저장</a>
                    <a href="javascript:formDelete('/srv/<%=objname%>/delete/<%=_id%>');" class="btn-gray">삭제</a>
                    <a href="javascript:history.back();" class="btn-blue">리스트</a>
                </div>

                <h4>정보 입력</h4>


                <table class="table-basic td-al th-al td-pd10" summary="광고등록">

                    <caption>광고 등록</caption>
                    <colgroup>
                        <col width="30%"/>
                        <col width="70%"/>
                    </colgroup>
                    <tr>
                        <th>아이디</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="_id" id="_id" value="<%=_id%>"  readonly /></td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="title" id="title" value="<%=title%>" /></td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="content" id="content" value="<%=content%>" /></td>
                    </tr>
                    <tr>
                        <th>광고주</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="advertisernm" id="advertisernm" value="<%=advertisernm%>" /> <a href="javascript:openAdvertiser();" class="btn-blue">광고주선택</a></td>
                        <input type="hidden" name="advertiserid" id="advertiserid" value="<%=advertiserid%>" />
                    </tr>
                    <tr>
                        <th>랩사</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="representativenm" id="representativenm" value="<%=representativenm%>" /> <a href="javascript:openRepresentative();" class="btn-blue">랩사선택</a></td>
                        <input type="hidden" name="representativeid" id="representativeid" value="<%=representativeid%>" />
                    </tr>
                    <tr>
                        <th>카테고리</th>
                        <td !colspan="2">
                            <select name="cat" id="cat" class="input-default w130">
                                <option value="G" <% if (cat == "G") { %> selected<% } %>>게임</option>
                                <option value="S  <% if (cat == "S") { %> selected<% } %>>쇼핑</option>
                                <option value="C" <% if (cat == "C") { %> selected<% } %>>문화</option>
                                <option value="F" <% if (cat == "F") { %> selected<% } %>>음식</option>
                                <option value="M" <% if (cat == "M") { %> selected<% } %>>영화</option>
                                <option value="Z" <% if (cat == "Z") { %> selected<% } %>>기타</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>타입</th>
                        <td !colspan="2">
                            <select name="typ" id="typ" class="input-default w130">
                                <option value="CPI" <% if (typ == "CPI") { %> selected<% } %>>설치형[CPI]</option>
                                <option value="CPE" <% if (typ == "CPE") { %> selected<% } %>>실행형[CPE]</option>
                                <option value="CPA" <% if (typ == "CPA") { %> selected<% } %>>참여형[CPA]</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="url" id="url"  value="<%=url%>"/></td>
                    </tr>
                    <tr>
                        <th>노출여부</th>
                        <td !colspan="2">
                            <select name="showyn" id="showyn" class="input-default w130">
                                <option value="1" <% if (showyn == true) { %> selected<% } %>>YES</option>
                                <option value="0" <% if (showyn == false) { %> selected<% } %>>NO</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>광고기간</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="stdate" id="stdate"  value="<%=stdate%>"/>~<input type="text" class="input-default w150" name="eddate" id="eddate"  value="<%=eddate%>"/></td>
                    </tr>
                    <tr>
                        <th>이미지</th>
                        <td !colspan="2">
                            <table>
                                <tr>
                                    <td>100*100</td>
                                    <td>720*1440</td>
                                    <td>750*1334</td>
                                </tr>
                                <tr>
                                    <td>
                                        <% if(attaches == "") {%>
                                        <input type="hidden" class="input-default w100p" name="attaches.path" id="attaches.path"  value="<%=img1%>"/>
                                        <%}else{%>
                                        <input type="hidden" class="input-default w100p" name="attaches.path" id="attaches.path"  value="<%=attaches[0].path%>"/>
                                        <%}%>
                                        <div class="img-holder" >
                                            <a id="imgpopup1" class="fancybox" rel="group" href="http://cms.touch-down.co.kr/html/img/thumb00.png">
                                                <img id="imgview1" src="http://cms.touch-down.co.kr/html/img/thumb00.png" data-item="img/thumb00.png" class="link"/>
                                            </a>
                                            <span id="thumbnail1"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <% if(attaches == "") {%>
                                        <input type="hidden" class="input-default w100p" name="attaches.path" id="attaches.path"  value="<%=img2%>"/>
                                        <%}else{%>
                                        <input type="hidden" class="input-default w100p" name="attaches.path" id="attaches.path"  value="<%=attaches[1].path%>"/>
                                        <%}%>
                                        <div class="img-holder" >
                                            <a id="imgpopup2" class="fancybox" rel="group" href="http://cms.touch-down.co.kr/html/img/thumb00.png">
                                                <img id="imgview2" src="http://cms.touch-down.co.kr/html/img/thumb00.png" data-item="img/thumb00.png" class="link"/>
                                            </a>
                                            <span id="thumbnail2"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <% if(attaches == "") {%>
                                        <input type="hidden" class="input-default w100p" name="attaches.path" id="attaches.path"  value="<%=img3%>"/>
                                        <%}else{%>
                                        <input type="hidden" class="input-default w100p" name="attaches.path" id="attaches.path"  value="<%=attaches[2].path%>"/>
                                        <%}%>
                                        <div class="img-holder" >
                                            <a id="imgpopup3" class="fancybox" rel="group" href="http://cms.touch-down.co.kr/html/img/thumb00.png">
                                                <img id="imgview3" src="http://cms.touch-down.co.kr/html/img/thumb00.png" data-item="img/thumb00.png" class="link"/>
                                            </a>
                                            <span id="thumbnail3"></span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>적립금</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="saving" id="saving" value="<%=saving%>"/></td>
                    </tr>
                    <tr>
                        <th>조회수</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="clkcnt" id="clkcnt" value="<%=clkcnt%>"/></td>
                    </tr>
                    <tr>
                        <th>광고수량</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="advcnt" id="advcnt" value="<%=advcnt%>"/></td>
                    </tr>
                    <tr>
                        <th>사용수량</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="usecnt" id="usecnt" value="<%=usecnt%>"/></td>
                    </tr>
                    <tr>
                        <th>광고예산</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="budget" id="budget" value="<%=budget%>"/></td>
                    </tr>
                    <tr>
                        <th>광고단가</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="adprice" id="adprice" value="<%=adprice%>"/></td>
                    </tr>
                    <tr>
                        <th>고객단가</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="ctprice" id="ctprice" value="<%=ctprice%>"/></td>
                    </tr>
                    <tr>
                        <th>성별</th>
                        <td !colspan="2">
                            <select name="sex" id="sex" class="input-default w130">
                                <%
                                if(typeof sex == "undefined")
                                {
                                 %>
                                <option value="0" >전체</option>
                                <option value="1" >남</option>
                                <option value="2" >여</option>
                                <%
                                }else{
                                 %>
                                <option value="0" <% if (sex == 0) { %> selected<% } %>>전체</option>
                                <option value="1" <% if (sex == 1) { %> selected<% } %>>남</option>
                                <option value="2" <% if (sex == 2) { %> selected<% } %>>여</option>
                                <%
                                }
                                 %>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>연령</th>
                        <td !colspan="2">
                            <%
                            if(typeof stage == "undefined")
                            {
                             %>
                            <input type="text" class="input-default w150" name="stage" id="stage" value="0"/>~<input type="text" class="input-default w150" name="edage" id="edage" value="99"/>
                            <%
                            }else{
                             %>
                            <input type="text" class="input-default w150" name="stage" id="stage" value="<%=stage%>"/>~<input type="text" class="input-default w150" name="edage" id="edage" value="<%=edage%>"/>
                            <%
                            }
                             %>
                        </td>
                    </tr>
                    <tr>
                        <th>OS</th>
                        <td !colspan="2">
                            <%
                            if(typeof os == "undefined")
                            {
                             %>
                            <input type='checkbox' class='input_check' id='os' name='os' value='A' />ANDROID&nbsp;&nbsp;
                            <input type='checkbox' class='input_check' id='os' name='os' value='I' />IOS&nbsp;&nbsp;
                            <input type='checkbox' class='input_check' id='os' name='os' value='W' />모바일웹&nbsp;&nbsp;
                            <%
                            }else{
                             %>
                            <input type='checkbox' class='input_check' id='os' name='os' value='A' <% if (os.indexOf('A') >= 0) { %> checked<% } %>/>ANDROID&nbsp;&nbsp;
                            <input type='checkbox' class='input_check' id='os' name='os' value='I' <% if (os.indexOf('I') >= 0) { %> checked<% } %>/>IOS&nbsp;&nbsp;
                            <input type='checkbox' class='input_check' id='os' name='os' value='W' <% if (os.indexOf('W') >= 0) { %> checked<% } %>/>모바일웹&nbsp;&nbsp;
                            <%
                            }
                             %>
                            <a href="javascript:ToggleCheck('os');" class="btn-blue">전체선택/해제</a>
                        </td>
                    </tr>
                    <tr>
                        <th>통신사</th>
                        <td !colspan="2">
                            <%
                            if(typeof tcom == "undefined")
                            {
                            %>
                            <input type='checkbox' class='input_check' id='tcom' name='tcom' value='T'/>SKT&nbsp;&nbsp;
                            <input type='checkbox' class='input_check' id='tcom' name='tcom' value='K' />KT&nbsp;&nbsp;
                            <input type='checkbox' class='input_check' id='tcom' name='tcom' value='U'/>LGU&nbsp;&nbsp;
                            <%
                            }else{
                            %>
                            <input type='checkbox' class='input_check' id='tcom' name='tcom' value='T' <% if (tcom.indexOf('T') >= 0) { %> checked<% } %> />SKT&nbsp;&nbsp;
                            <input type='checkbox' class='input_check' id='tcom' name='tcom' value='K'  <% if (tcom.indexOf('K,') >= 0) { %> checked<% } %> />KT&nbsp;&nbsp;
                            <input type='checkbox' class='input_check' id='tcom' name='tcom' value='U' <% if (tcom.indexOf('U') >= 0) { %> checked<% } %> />LGU&nbsp;&nbsp;
                            <%
                            }
                            %>
                            <a href="javascript:ToggleCheck('tcom');" class="btn-blue">전체선택/해제</a>
                        </td>
                    </tr>
                    <tr>
                        <th>외부관리코드</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="excode" id="excode" value="<%=excode%>"/></td>
                    </tr>
                    <tr>
                        <th>글쓴이</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="uobjnm" id="uobjnm" value="<%=uobjnm%>"/></td>
                        <input type="hidden" name="uobjid" id="uobjid" value="<%=uobjid%>"/>
                    </tr>
                    <tr>
                        <th>태그</th>
                        <td !colspan="2">
                            <select name="tag" id="tag" class="input-default w130">
                                <option value="" <% if (tag == "") { %> selected<% } %>>태그없음</option>
                                <option value="P" <% if (tag == "P") { %> selected<% } %>>포인트</option>
                                <option value="H" <% if (tag == "H") { %> selected<% } %>>히트</option>
                                <option value="N" <% if (tag == "N") { %> selected<% } %>>최신</option>
                            </select>
                        </td>
                    </tr>
                    <%
                    if(eximg)
                    {
                     %>
                    <tr>
                        <th>외부이미지</th>
                        <td !colspan="2"><img src="<%=eximg%>" style="width:100px;height:100px"/></td>
                        <input type="hidden" name="eximg" id="eximg" value="<%=eximg%>"/>
                    </tr>
                    <%
                    }
                     %>
                </table>
            </form>
        </div> <!-- right content-->
    </div> <!-- container -->
</div>  <!-- wrap -->
</body>
</html>
