<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>터치다운 CMS</title>
    <link rel="stylesheet" href="http://cms.touch-down.co.kr/html/css/admin.css" type="text/css" />
    <script src="http://cms.touch-down.co.kr/html/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.input-default').keydown(function(event) {
                if (event.keyCode == 13) {
                    formSubmit();
                    return false;
                }
            });
        });

        function formSubmit(){
            $("#mainForm").submit();
        }
    </script>

    </head>

    <body>
        <div id="wrap">
            <%- partial('../common/menu.ejs') %>
            <!-- 본문 시작 -->
            <div id="container" class="af_clear">
                <!-- 왼쪽 메뉴 시작 -->
                <%- partial('../common/leftmenu.ejs') %>
                <!-- 왼쪽 메뉴 끝 -->
                <!-- 오른쪽 컨텐츠 시작 -->
                <div class="right-area">

                    <h3>위치정보의 이용 제공사실 확인자료 </h3>

                    <form method="POST" action="/srv/<%=objname%>/list/0/1" name = "mainForm"  id="mainForm">
                        <div class="search gray-box af_clear">
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;<input id="search" name="search" type="text" value="<%=search%>" class="input-default">
                            </p>
                            <p><a href="javascript:formSubmit();" class="btn-search">검색</a></p>
                        </div>
                    </form>

                    <!-- 리스트 시작 -->
                    <div class="list-style">
                        <div class="btn">
                            <!--a href="/srv/<%=objname%>/insert" class="btn-blue">관리자 모드</a-->
                        </div>

                        <table class="table-basic" summary="게시판 리스트">
                            <caption>관리자 리스트</caption>
                            <colgroup>
                                <col width="">
                                <col width="">
                                <col width="">
                                <col width="">
                                <col width="">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>대상</th>
                                <th>취득경로</th>
                                <th>제공서비스</th>
                                <th>제공받는자</th>
                                <th>이용일시</th>
                            </tr>
                            <%
                            var infos = [
                                {target:"심태우",path:"Android",title:"터치다운앱",served:"NULL",regdate:"2016.08.20 12:03:58"},
                                {target:"정운상",path:"Android",title:"터치다운앱",served:"NULL",regdate:"2016.08.17 23:34:01"},
                                {target:"김춘호",path:"Android",title:"터치다운앱",served:"NULL",regdate:"2016.08.15 09:11:12"}
                            ];
                            /*
                            var infos = [
                                {worker:"NS_admin",req:"임명식",obj:"본인위치정보파악을 위한 열람요청",regdate:"2016.08.25 09:01:01"},
                                {worker:"NS_admin",req:"윤종훈",obj:"본인위치정보파악을 위한 열람요청",regdate:"2016.08.20 17:31:59"},
                                {worker:"NS_admin",req:"김이수",obj:"본인위치정보파악을 위한 열람요청",regdate:"2016.08.11 09:12:58"}
                            ];
                            */
                            //{'objname':objname,'cur':cur,'pos':pos, 'cursize':cursize, 'possize':possize,  'tcnt': tcnt, 'data': docs, 'search': search}
                            var enc = ["$2a$05$B.ifz.R1YW6V60EH1d/FP.NRbnEBRKdWZEFbKCrXeJbBGRPrCtRWG",
                                "$2a$05$whYPedVAfDTf62ytCodB/ewiNp6lu2QgB5dvZN0o2ClwYbvcNgxBC",
                                "$2a$05$p.yKzJHfZ2WHWovIeHmp.OVoaAd7vrR6HnthR2UBwvE8Xb2S5LIWC",
                                "$2a$05$CJ2vdCu2gXjTsp.hW89UNu61UbZDFdFUkGb/bDbLqaVx/.V0SHGse",
                                "$2a$05$0XaP.B3QNzsWJ1mC2l3OXe.c17iTlik5EpXkfO/pOqEGUNsgbR0bi",
                                "$2a$05$/wd9jKkb7U..WskdzV9a9.Df568GVZmavCxh1xlVpkO7yrGh1Ja2K",
                                "$2a$05$VclVcjArcIf.aGj333/vQ.uW4Ahboe7qqwi3ILrO8igEjCTdpey3S",
                                "$2a$05$zCmStTCP2cWUDAS7wtfxYuFWJao6KJ6YoMWw0UEAQzhuFPviClm7i",
                                "$2a$05$olwtY9nMagVgLJ1qZ6lUIOIgiCTPIYsdgU6o1sRAHtAan2KU1YQJm",
                                "$2a$05$e2aJZTdtdckL4WVklSabQuJLX1y1WS/9BZ2erY1Mnmbw/fuCPfGdO"];

                            if(tcnt == 0)
                            {
                            %>
                            <tr>
                                <td colspan="5">검색된 결과가 없습니다.</td>
                            </tr>
                            <%
                            }
                            else
                            {
                            var index = (pos * possize + (cur - 1)) * cursize;

                            //for( var i = 0 ; i < data.length ; i++)
                            for( var i = 0 ; i < infos.length ; i++)
                            {
                                //var obj = data[i];
                                //var curindex = index + i;
                                var obj = infos[i];
                            %>
                            <tr>
                                <td><%=obj.target%></td>
                                <td><%=obj.path%></td>
                                <td><%=obj.title%></td>
                                <td><%=obj.served%></td>
                                <td><%=obj.regdate%></td>
                            </tr>
                            <%
                            }
                            }
                            %>
                            </tbody>
                        </table>

                    </div>
                    <!-- 리스트 시작 //-->
                    <div class="btn">
                        <p style="text-align: left;">*터치다운앱은 제3자 정보제공을 하지 않고 있습니다.</p>
                    </div>

                    <%- partial('../common/paging.ejs') %>
                    <!--
                    <p><a href="/srv/<%=objname%>/insert">사용자추가</a></p>
                    <p><a href="/srv/user/logout">로그아웃</a></p>
                    -->
                </div> <!-- right content -->
            </div> <!-- container -->
        </div> <!--wrap -->
    </body>
</html>