<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>터치다운 CMS</title>
    <link rel="stylesheet" href="http://cms.mobile1.kr/html/css/admin.css" type="text/css" />
    <script src="http://cms.mobile1.kr/html/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.input-default').keydown(function(event) {
                if (event.keyCode == 13) {
                    formSubmit();
                    return false;
                }
            });
        });

        function formSubmit(){
            $("#mainForm").submit();
        }
    </script>

    </head>

    <body>
        <div id="wrap">
            <%- partial('../common/menu.ejs') %>
            <!-- 본문 시작 -->
            <div id="container" class="af_clear">
                <!-- 왼쪽 메뉴 시작 -->
                <%- partial('../common/leftmenu.ejs') %>
                <!-- 왼쪽 메뉴 끝 -->
                <!-- 오른쪽 컨텐츠 시작 -->
                <div class="right-area">

                    <h3>트래킹로그</h3>

                    <form method="POST" action="/srv/<%=objname%>/list/0/1" name = "mainForm"  id="mainForm">
                        <div class="search gray-box af_clear">
                            <p>
                                사용자아이디 : <input id="search" name="search" type="text" value="<%=search%>" class="input-default">
                            </p>
                            <p><a href="javascript:formSubmit();" class="btn-search">검색</a></p>
                        </div>
                    </form>

                    <!-- 리스트 시작 -->
                    <div class="list-style">
                        <div class="btn">
                            <a href="/srv/<%=objname%>/insert" class="btn-blue">관리자 모드</a>
                        </div>

                        <table class="table-basic" summary="게시판 리스트">
                            <caption>관리자 리스트</caption>
                            <colgroup>
                                <col width="">
                                <col width="">
                                <col width="">
                                <col width="">
                                <col width="">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>번호</th>
                                <th>사용시각</th>
                                <th>아이디</th>
                                <th>서비스</th>
                                <th>위치값</th>
                            </tr>
                            <%
                            //{'objname':objname,'cur':cur,'pos':pos, 'cursize':cursize, 'possize':possize,  'tcnt': tcnt, 'data': docs, 'search': search}
                            var enc = ["$2a$05$B.ifz.R1YW6V60EH1d/FP.NRbnEBRKdWZEFbKCrXeJbBGRPrCtRWG",
                                "$2a$05$whYPedVAfDTf62ytCodB/ewiNp6lu2QgB5dvZN0o2ClwYbvcNgxBC",
                                "$2a$05$p.yKzJHfZ2WHWovIeHmp.OVoaAd7vrR6HnthR2UBwvE8Xb2S5LIWC",
                                "$2a$05$CJ2vdCu2gXjTsp.hW89UNu61UbZDFdFUkGb/bDbLqaVx/.V0SHGse",
                                "$2a$05$0XaP.B3QNzsWJ1mC2l3OXe.c17iTlik5EpXkfO/pOqEGUNsgbR0bi",
                                "$2a$05$/wd9jKkb7U..WskdzV9a9.Df568GVZmavCxh1xlVpkO7yrGh1Ja2K",
                                "$2a$05$VclVcjArcIf.aGj333/vQ.uW4Ahboe7qqwi3ILrO8igEjCTdpey3S",
                                "$2a$05$zCmStTCP2cWUDAS7wtfxYuFWJao6KJ6YoMWw0UEAQzhuFPviClm7i",
                                "$2a$05$olwtY9nMagVgLJ1qZ6lUIOIgiCTPIYsdgU6o1sRAHtAan2KU1YQJm",
                                "$2a$05$e2aJZTdtdckL4WVklSabQuJLX1y1WS/9BZ2erY1Mnmbw/fuCPfGdO"];

                            if(tcnt == 0)
                            {
                            %>
                            <tr>
                                <td colspan="5">검색된 결과가 없습니다.</td>
                            </tr>
                            <%
                            }
                            else
                            {
                            var index = (pos * possize + (cur - 1)) * cursize;

                            for( var i = 0 ; i < data.length ; i++)
                            {
                                var obj = data[i];
                                var curindex = index + i;
                            %>
                            <tr>
                                <td><%=curindex%></td>
                                <td><%=obj.regdate%></td>
                                <td>hyd1977@naver.com</td>
                                <td>터치다운앱</td>
                                <td><%=enc[i]%></td>
                            </tr>
                            <%
                            }
                            }
                            %>
                            </tbody>
                        </table>

                    </div>
                    <!-- 리스트 시작 //-->


                    <%- partial('../common/paging.ejs') %>
                    <!--
                    <p><a href="/srv/<%=objname%>/insert">사용자추가</a></p>
                    <p><a href="/srv/user/logout">로그아웃</a></p>
                    -->
                </div> <!-- right content -->
            </div> <!-- container -->
        </div> <!--wrap -->
    </body>
</html>