<html>
<head>
    <title>터치다운 CMS</title>
    <link rel="stylesheet" href="http://cms.touch-down.co.kr/html/css/admin.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://cms.touch-down.co.kr/html/css/uploadify.css" />
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery.uploadify.js"></script>
    <link rel="stylesheet" href="http://cms.touch-down.co.kr/html/css/admin.css" type="text/css" />
    <script src="http://cms.touch-down.co.kr/html/js/placeholders.min.js"></script>

    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery-validation-1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery-validation-1.15.0/additional-methods.min.js"></script>
    <script type="text/javascript" src="http://cms.touch-down.co.kr/html/js/jquery-validation-1.15.0/messages_ko.min.js"></script>

    <SCRIPT LANGUAGE="JavaScript">
        <!--

        $(function(){
            $("#mainForm").validate({
                rules: {
                    binnumber: {
                        required:true,
                        minlength:6
                    },
                    cardcode: {
                        required:true
                    },
                    company: {
                        required:true,
                        minlength:2
                    },
                    cardname: {
                        required:true
                    },
                    cardkind: {
                        required:true
                    },
                    regdate: {
                        required:true
                    }
                },
                messages: {
                    binnumber: {
                        required:"BIN번호를 입력하세요.",
                        minlength:"6자리 숫자를 입력하세요."
                    },
                    cardcode: {
                        required:"카드코드를 입력하세요."
                    },
                    company: {
                        required:"카드회사이름을 입력하세요.",
                        minlength:"2자리 값을 입력하세요."
                    },
                    cardname: {
                        required:"카드이름을 입력하세요."
                    },
                    cardkind: {
                        required:"카드종류를 입력하세요."
                    },
                    regdate: {
                        required:"카드출시일을 yyyy-mm-dd 형식으로 입력하세요."
                    }
                },
                errorPlacement: function(error, element) {
                    // do nothing
                },
                invalidHandler: function(form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        alert(validator.errorList[0].message);
                        validator.errorList[0].element.focus();
                    }
                }
            });
        });
        //-->
    </SCRIPT>

    <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $("input, textarea").placeholder();
            });
        })(jquery);
    </script>
    <script type="text/javascript">
        $(function(){
            $(".gnb li").hover(function(){
                $('p',this).stop().slideDown("");
            }, function(){
                $('p',this).stop().slideUp("");
            });
        });
    </script>
    <script type = "text/javascript">

        function formSubmit(){
            //return document.mainForm.submit();
            if (!$("#mainForm").validate()) {
                return false;
            } else {
                $("#mainForm").submit();
            }
        }

        function formDelete(uri){

            if(confirm("정말 삭제하시겠습니까?"))
            {
                location.href = uri;
            }
        }

    </script>
</head>
<body>
<div id="wrap">
    <%- partial('../common/menu.ejs') %>
    <!-- 본문 시작 -->
    <div id="container" class="af_clear" >
        <!-- 왼쪽 메뉴 시작 -->
        <%- partial('../common/leftmenu.ejs') %>
        <!-- 왼쪽 메뉴 끝 -->
        <!-- 오른쪽 컨텐츠 시작 -->
        <div class="right-area" >
            <form method="POST" action="/srv/<%=objname%>/update" name = "mainForm"  id="mainForm">
                <h3>BIN번호 등록</h3>
                <div class="btn-write">
                    <a href="javascript:formSubmit();" class="btn-blue">저장</a>
                    <a href="javascript:formDelete('/srv/<%=objname%>/delete/<%=_id%>');" class="btn-blue">삭제</a>
                    <a href="javascript:history.back();" class="btn-blue">리스트</a>
                </div>
                <h4>BIN번호 입력</h4>
                <table class="table-basic td-al th-al td-pd10" summary="카드등록">

                    <caption>BIN번호 등록</caption>
                    <colgroup>
                        <col width="30%"/>
                        <col width="70%"/>
                    </colgroup>
                    <tr>
                        <th>아이디</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="_id" id="_id" value="<%=_id%>"  readonly /></td>
                    </tr>
                    <tr>
                        <th>BIN번호</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="binnumber" id="binnumber" value="<%=binnumber%>" /></td>
                    </tr>
                    <tr>
                        <th>카드코드</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="cardcode" id="cardcode" value="<%=cardcode%>" /></td>
                    </tr>
                    <tr>
                        <th>카드사</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="company" id="company" value="<%=company%>" /></td>
                        </td>
                    </tr>
                    <tr>
                        <th>카드이름</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="cardname" id="cardname" value="<%=cardname%>" /></td>
                    </tr>
                    <tr>
                        <th>카드종류</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="cardkind" id="cardkind" value="<%=cardkind%>" /></td>
                    </tr>
                    <tr>
                        <th>카드적용일</th>
                        <td !colspan="2"><input type="text" class="input-default w100p" name="regdate" id="regdate" value="<%=regdate%>" /></td>
                    </tr>
                    <tr>
                        <th>글쓴이</th>
                        <td !colspan="2"><input type="text" class="input-default w150" name="uobjnm" id="uobjnm" value="<%=uobjnm%>"/></td>
                        <input type="hidden" name="uobjid" id="uobjid" value="<%=uobjid%>"/>
                    </tr>
                </table>
            </form>
        </div> <!-- right content-->
    </div> <!-- container -->
</div>  <!-- wrap -->
</body>
</html>
